/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "./variables.scss";

body,.mat-body,.mat-typography{
    font-size: 20px !important;
    line-height: 1.15em;
    font-weight: 500;
    letter-spacing: -.005em;
    font-family: 'Montserrat', sans-serif;
    color:#212529;
}
@media only screen and (max-width:1800px){
    body,.mat-body,.mat-typography{
        font-size: 18px !important;
        line-height: 1.2em;
        font-weight: 500;
        letter-spacing: -.002em;
    }
}
@media only screen and (max-width:1068px){
    body,.mat-body,.mat-typography{
        font-size: 16px !important;
        line-height: 1.2em;
        font-weight: 500;
        letter-spacing: -.002em;
    }
}
@media only screen and (max-width:734px){
    body,.mat-body,.mat-typography{
        font-size: 14px !important;
        line-height: 1.2em;
        font-weight: 500;
        letter-spacing: .004em;
    }
}
@media screen and (max-width:734px), screen and (orientation : portrait)  {
    body{
      background-color: $mainDark;
    }
}

/* Modal utilities */
.mshow {
    display: block;
}

.mhidden {
    display: none;
}

body.modal-open {
    overflow: hidden;
}

/*default*/
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
