// Variables
$mainGreen : #31b561;
$secondGreen : #5cd088;
$mainRed : #8f0106;
$mainLightGrey : #dbdbdb;
$mainDarkGrey : #2d2d2d;

$titleFont : 'Signika Negative', sans-serif;
$subtitleFont : 'Roboto', sans-serif;
$contentFont : 'Montserrat', sans-serif;