<div class="footer" [ngClass]="{'p-index' : route==''}">
    <div class='left-angle'></div>
    <div class='content' [ngClass]="{'p-social-visible': cState == 'social' }">
        <span class="p-icon" (click)='onSocialClick()' #pSocial>
            <fa-icon [icon]="faInfo" *ngIf="cState != 'social'"></fa-icon>
            <fa-icon [icon]="faTimes" *ngIf="cState == 'social'"></fa-icon>
        </span>
        <a  class="icon logo-l-1" 
            href="https://www.linkedin.com/in/dannbond/" 
            target="linkedin"
            [@socialIllustration]=pState
            (@socialIllustration.done)="animationDone($event)">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a  class="icon logo-l-2" 
            href="https://www.instagram.com/la_badane/" 
            target="instagram"
            [@socialIllustration]=pState>
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <span class='info' [@socialIllustration]=iState>&copy; 2020 | Dann Bonderff</span>
        <a  class="icon logo-r-2" 
            href="https://github.com/Badane" 
            target="github"
            [@socialIllustration]=pState>
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a  class="icon logo-r-1" 
            href="mailto:dann.bonderff@gmail.com"
            [@socialIllustration]=pState>
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
    </div>
    <div class="right-angle"></div>
</div>
