<div class="footer" [ngClass]="{'p-index' : route==''}">
    <div class='left-angle'></div>
    <div class='content'>
        <a class="icon logo-l-1" href="https://www.linkedin.com/in/dannbond/" target="linkedin"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a class="icon logo-l-2" href="https://www.instagram.com/la_badane/" target="instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <span class='info'>&copy; 2020 | Dann Bonderff</span>
        <a class="icon logo-r-2" href="https://github.com/Badane" target="github"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a class="icon logo-r-1" href="mailto:dann.bonderff@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>
    <div class="right-angle"></div>
</div>
