<div class="row no-gutters">
    <div class="col-sm-6 offset-sm-3 subtitle">
        Avoir un aperçu de mon travail
    </div>
    <div class="col-sm-12 description">
        <div class="col-sm-5 offset-sm-1  des-left">
            Depuis 2017 , je travaille au sein de la société nantaise Captiv, en tant que développeur web et responsable technique.
            Cette société commercialise depuis 2019 le premier tapis connecté, à destination des personnes en fauteuil roulant, conçu dans le but de surveiller leur positionnement et limiter les risques d'apparition de problèmes de peau : gaspard..
            Mon équipe et moi-même, sommes en charge du développement du logiciel embarqué, des applications mobiles, du SAV, de sa certification et d'encore beaucoup d'autres choses qu'implique la conception d'un produit nouveau et innovant.
            Je vous invite à faire un tour sur le site de gaspard.. ;)
        </div>
        <div class="col-sm-5 des-right">
            Mon travail est aujourd'hui bien évidemment confidentiel. Mais si vous souhaitez en connaitre d'avantage sur mes compétences, vous pouvez 
            <a href="../../assets/documents/CV_Dann_Bonderff.pdf" target="CV">télécharger mon CV</a>, ou encore faire un tour mon Github.
            Il est encore un peu vide à ce jour, mais j'essayerai d'y partager régulièrement les templates de mes différents projets, ou encore les scripts que j'utilise régulièrement. 
            Vous y trouverez également le template de ce site. Il est construit sur la stack MEAN. Première fois que j'utilise pleinement Angular dans l'un de mes projets. Je compte sur votre indulgence. ;)
        </div>
    </div>
    <div class="description-buttons col-sm-12 no-gutters">
        <div class="col-sm-5 custom-button left">
            <span><a href="https://www.mistergaspard.com" target="gaspard"><img src="../../assets/images/logo-gaspard-black.png" alt="logo-gaspard"></a></span>
        </div>
        <div class="col-sm-2 middle-line no-gutters">
            <div class="col-sm-6 border-mid">
                .
            </div>
            <div class="col-sm-6">
                .
            </div>
            <div class="col-sm-12 border-top">
                .
            </div>
        </div>
        <div class="col-sm-5 custom-button">
            <span><a href="https://github.com/Badane" target="github"><img src="../../assets/images/logo-github-black.png" alt="logo-github"></a></span>
        </div>
    </div>
</div>
