@import "../../variables.scss";

.background {
  position: absolute;;
  padding:0;
  margin:0;
  top:0;
  left:0; 
  width: 100%; 
  height: 100%;
}

.content{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  background-color: $mainDark;
  color: white;
  padding: 20vh 15vw 10vh 15vw;
}

h2{
    text-transform: uppercase;
    color: $mainGreen;
    font-size: 2em;
    margin: 0;
    line-height: 1.2em;
}

.title{
    &.left{
        padding-right: 2vw;
    }
    &.right{
        padding-left: 2vw;
    }
}

.description{
    padding-top: 5vh;
    padding-bottom: 3em;
    &.left{
        padding-right: 4vw;
    }
    &.right{
        padding-left: 4vw;
    }
    p{
        margin: 0;
        a{
            color: white;
            text-decoration: none;
            border-bottom: 2px solid lightgrey;
            border-radius: 4px;
            transition: 0.2 linear;
            &:hover{
                color: $secondGreen;
                border-bottom: 0px solid lightgrey;
                text-shadow: 1px 1px 1px darkgrey, 4px 4px 2px black!important;
            }
        }
    }
}

.custom-button{
    position: absolute;
    width: 100%;
    bottom: -1.2em;
    display: flex;
    justify-content: center;
    span{
        z-index: 2;
        padding: 0.1em 1em;
        background-color: white;
        border-radius: 0.3em;
        transition: .2s linear;
        img{
            height: 2.2em;
        }
        &:hover{
            background-color:$secondGreen;
        }
    }
}

.bd-r{
    border-right: 1px solid #fff;
    text-align: right;
}

.bd-l{
    border-left: 1px solid #fff;
    text-align: left;
}

.bd-rb{
    color: $mainDark;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
}
.bd-lb{
    color: $mainDark;
    border-bottom: 2px solid #fff;
    border-left: 1px solid #fff;
}
.bd-t{
    color: $mainDark;
    border-top: 2px solid #fff;
}

.portrait{
    color:$mainDark;
    height: 0;
}

@media screen and (max-width:734px), screen and (orientation : portrait)  {
    .background{
      position: relative;
    }
  
    .content{
      flex-direction: column;
      padding: 0;
    }

    .col-sm-6{
        width: 100%;
        max-width: 100%;
        flex:initial;
        .title,.description{
            padding-right: 1.5em;
            padding-left: 1.5em;
        }
        .title{
            padding-top: 3em;
        }
    }

    .bd-r{
        border-right: 0px solid #fff;
        text-align: justify;
        h2{
            text-align: left;
        }
    }

    .bd-l{
        border-left: 0px solid #fff;
        text-align: justify;
        h2{
            text-align: right;
        }
    }

    .bd-t{
        height: 3em;
        border-top: 0px solid #fff;
    }

    .description{
        padding-top: 2em;
        padding-bottom: 2em;
        &.left{
            padding-right: 0;
        }
        &.right{
            padding-left: 0;
        }
        p a{
            border-bottom: 1px solid lightgrey;
            &:hover{
                color: white;
                text-shadow: none !important;
                border-bottom: 1px solid lightgrey;
            }
        }
    }

    .portrait{
        height: initial;
        &.p-bd-bl{
            border-bottom: 2px solid #fff;
            max-width: 50%;
        }
        &.p-bd-br{
            margin-left: 50%;
            border-bottom: 2px solid #fff;
            max-width: 50%;
        }
    }

    .custom-button{
        bottom: -1.5em;
        span{
            box-shadow: inset 0 -3px 0.8em $mainDark;
            img{
                height: 2.8em;
            }
            &:hover{
                background-color:white;
            }
        }
    }
}