<div class="container">
    <div class='pageOption' #pageOption>
        <a  href='#' 
            class='option' 
            [ngStyle]="{'transform': 'skewX(' + skewX + 'deg)'}">
            <img    src='../../assets/images/background-index.jpg'
                    alt="background_desktop"
                    [ngStyle]="{'transform': 'skewX(-' + skewX + 'deg)'}">
        </a>
        <a class='option'
            [ngStyle]="{'transform': 'skewX(' + skewX + 'deg)'}">
            <div    class="texture"
                    [ngStyle]="{'transform': 'skewX(-' + skewX + 'deg)'}">
            </div>
        </a>
    </div>
    <div class="row">
        <div class="info-layer">
            <div class="col-sm-7">
                <div class="title">
                    <h1>Dann Bonderff</h1>
                    <img src="../../assets/images/logoBlanc.png" alt="logo_db">
                </div>
            </div>
        </div>
        <div class="info-layer description">
            <div>
                <h2>Développeur Web</h2>
            </div>
            <div>
                <h2>Photographe Amateur</h2>
            </div>
        </div>
    </div>
</div>
