@import "../../variables.scss";

.index{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background {
    overflow: hidden;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0; 
    width: 100%; 
    height: 100%;
    background-color: $mainLightGrey;
}

.bg-part{
    overflow: hidden;
    position: absolute;
}
.bg-part, .bg-part img { 
    width: 100%; 
    height: 100%;
    object-fit : cover;
}
.bg-part img { 
    opacity: .10; 
    z-index: -1;
}

.bg-part:first-child {
    background-color: #000000;
    left: -25%;
    transform-origin: 0 100%;
}
.bg-part:last-child {
    .texture{
        width: 100%; 
        height: 100%;
        background-image: url(../../assets/images/honeycomb-small.png);
        background-repeat: repeat;
        opacity: .03;
    }
}
.bg-part img, .bg-part div, .bg-part:after {
    transform-origin: inherit;
}

.illustration{
    height:70vh ;
    width:33vw ;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    img{
        max-height:100% ;
        max-width:100% ;
        height: auto;
        width: auto;
        opacity: 1;
    }
}

.info-layer{
    width: 100%;
    height: 100%;
    position: absolute;

    text-transform: uppercase;
}
.title{
    font-family: $titleFont !important;
    color: white;

    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        font-size: 2.5em;
        line-height: 0.9em;
        letter-spacing: -0.08em;
        font-family: $titleFont !important;
    }
    img{
        height: 4.5em;
        width: 4.5em;
        margin-bottom: 1.5em;
    }
}
// @media only screen and (max-width:734px){
//     .title{
//         align-items: flex-start;
//     }       
// }

.description{
    color: #2d2d2d;

    width: 33%;
    position: absolute;
    right: 2em;
    bottom : 75%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: $subtitleFont;
    font-size: 1.2em;
    font-weight: 200;

    .subtitle{
        max-width: 100%;
    }
    h2{
        font-family: $subtitleFont !important;
        font-size: 1.2em;
        letter-spacing: -0.05em;
        font-weight: 200;
    }
    .main-subtitle{
        display:flex;
        justify-content: space-between;
        width: 100%;
        h2{
            color:$mainGreen;
            font-weight: 500;
            letter-spacing: 0;
            float: left;
        }
        span{
            font-size: 1.2em; 
        }
    }
}