<div class="top-menu" *ngIf='isLogged'>
    <div>
        <nav>
            <a [routerLink]="['/']" class="home-button">
                <img src="../../assets/images/logoBlancfff.png" alt="home-button">
            </a>
            <ul>
                <li><a [routerLink]="['about']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">A propos</a></li>
                <li><a [routerLink]="['work']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">Travail</a></li>
                <li><a [routerLink]="['pictures']" [routerLinkActive]="['active-link']">Photos</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="content-bloc">
    <router-outlet></router-outlet>
</div>
